<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>草叶网 - 发现美</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/a.css">
	<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript">
	$(function(){
		
	})
	</script>
	<style type="text/css">

	#one {
		width:650px;
		height:340px;
		margin: 0 auto;
	}
	#myCarousel, #myCarousel img {
		width: 100%;
		height: 340px;
	}
	</style>
</head>
<body>
	<div class="row">
				<div class="col-md-12">
					<div class="col-sm-6 col-md-3">
						<div class="thumbnail">
							<img src="../img/pic1.jpeg" alt="...">
							<div class="caption">
								<a href="#"><strong>简约</strong></a>
								<p>1234人在看</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="thumbnail">
							<img src="../img/pic1.jpeg" alt="..."></img>
							<div class="caption">
								<h4>悠悠下午茶</h4>
								<p>
									<strong>相册标签：</strong>
									<div class="tag">
										<button type="button" class="btn btn-default btn-sm">精致</button>
										<button type="button" class="btn btn-default btn-sm">实用</button>
										<button type="button" class="btn btn-default btn-sm">有品质</button>
									</div>

									<address>
									    <strong>来自：</strong><br>
									    <a href="mailto:#">http://www.gsjh.com</a>
									</address>
								</p>
								<div>
									<a href="#" class="btn btn-primary" role="button">
										<i class="fa fa-thumbs-up">点赞</i>
									</a>
									<a href="#" class="btn btn-success" role="button">
										<i class="fa fa-heart">收藏</i>
									</a>
									<a href="#" class="btn btn-info" role="button">
										<i class="fa fa-comment">20</i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="thumbnail">
							<img src="../img/pic1.jpeg" alt="..."></img>
							<div class="caption">
								<h4>悠悠下午茶</h4>
								<p>
									<strong>相册标签：</strong>
									<div class="tag">
										<button type="button" class="btn btn-default btn-sm">精致</button>
										<button type="button" class="btn btn-default btn-sm">实用</button>
										<button type="button" class="btn btn-default btn-sm">有品质</button>
									</div>

									<address>
									    <strong>来自：</strong><br>
									    <a href="mailto:#">http://www.gsjh.com</a>
									</address>
								</p>
								<div>
									<a href="#" class="btn btn-primary" role="button">
										<i class="fa fa-thumbs-up">点赞</i>
									</a>
									<a href="#" class="btn btn-success" role="button">
										<i class="fa fa-heart">收藏</i>
									</a>
									<a href="#" class="btn btn-info" role="button">
										<i class="fa fa-comment">20</i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="thumbnail">
							<img src="../img/pic1.jpeg" alt="..."></img>
							<div class="caption">
								<h4>悠悠下午茶</h4>
								<p>
									<strong>相册标签：</strong>
									<div class="tag">
										<button type="button" class="btn btn-default btn-sm">精致</button>
										<button type="button" class="btn btn-default btn-sm">实用</button>
										<button type="button" class="btn btn-default btn-sm">有品质</button>
									</div>

									<address>
									    <strong>来自：</strong><br>
									    <a href="mailto:#">http://www.gsjh.com</a>
									</address>
								</p>
								<div>
									<a href="#" class="btn btn-primary" role="button">
										<i class="fa fa-thumbs-up">点赞</i>
									</a>
									<a href="#" class="btn btn-success" role="button">
										<i class="fa fa-heart">收藏</i>
									</a>
									<a href="#" class="btn btn-info" role="button">
										<i class="fa fa-comment">20</i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



	<a title="回到顶部" class="btn go-top" id="J_GoTop" target="_self" href="javascript:;" style="display: inline;">
    	<span class="iconfont"></span>
   		<em>回到顶部</em>
  </a>
</body>
</html>